# VacationPy Analysis

In [1]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
# Define a path to the csv file exported in Part 1
csvpath = '../WeatherPy/Weather_Output/cities.csv'

In [48]:
# Load the csv to a Pandas DataFrame
cities_df = pd.read_csv(csvpath)
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,geraldton,-28.7667,114.6000,66.61,52.0,22.0,11.50,AU,2022-04-23
1,ushuaia,-54.8000,-68.3000,46.06,66.0,75.0,9.22,AR,2022-04-23
2,dodge city,37.7528,-100.0171,78.69,16.0,0.0,23.02,US,2022-04-23
3,mataura,-46.1927,168.8643,51.48,97.0,100.0,7.43,NZ,2022-04-23
4,bluff,-46.6000,168.3333,51.80,74.0,100.0,20.71,NZ,2022-04-23

## Humidity Heatmap

In [4]:
# Configure gmaps with API key
gmaps.configure(api_key = g_key)

In [7]:
# Create a variable, locations, to store 'Lat' and 'Lng' 
locations = cities_df[["Lat", "Lng"]].astype(float)

# Create a variable, humidity, to store city humidity values
humidity = cities_df['Humidity'].astype(float)

In [42]:
# Create a Heatmap using latitude and longitude for the location of each city and humidty as the weight
fig = gmaps.figure(center=(5,0), zoom_level=2, layout={'width': '975px','height': '700px',
                                                        'padding': '3px','border': '1px solid black'})

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius = 2.5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='700px', padding='3px', width='975px'))

## Vacation Hotels based on Ideal Weather Conditions

In [53]:
# Create a new dataframe fitting desired weather criteria for vacation
hotel_df = cities_df.loc[(cities_df['Max Temp'] > 75) & (cities_df['Max Temp'] <= 90) 
                                 & (cities_df['Humidity'] <= 70) & (cities_df['Cloudiness'] <= 10) 
                                 & (cities_df['Wind Speed'] <= 10)]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
23,govindgarh,27.5000,76.9833,85.17,13.0,1.0,4.07,IN,2022-04-23
41,san ramon,37.7799,-121.9780,75.92,47.0,0.0,6.91,US,2022-04-23
53,jamestown,42.0970,-79.2353,77.52,35.0,0.0,6.91,US,2022-04-23
59,sunam,30.1333,75.8000,80.35,20.0,0.0,6.87,IN,2022-04-23
106,lahij,13.1667,44.5833,79.93,49.0,2.0,3.98,YE,2022-04-23
146,cabo san lucas,22.8909,-109.9124,81.70,67.0,0.0,9.22,MX,2022-04-23
170,rock falls,41.7798,-89.6890,82.40,51.0,0.0,8.05,US,2022-04-23
186,hostotipaquillo,21.0667,-104.0667,88.05,6.0,0.0,7.65,MX,2022-04-23
204,arraial do cabo,-22.9661,-42.0278,87.76,58.0,0.0,6.91,BR,2022-04-23
439,eatonton,33.3268,-83.3885,82.24,56.0,3.0,9.24,US,2022-04-23
443,asyut,27.1810,31.1837,75.38,15.0,9.0,6.53,EG,2022-04-23
460,karratha,-20.7377,116.8463,78.33,56.0,5.0,6.22,AU,2022-04-23
533,atar,20.5169,-13.0499,80.46,22.0,0.0,9.71,MR,2022-04-23
549,russell,32.3502,-85.1999,82.00,39.0,0.0,8.05,US,2022-04-23
587,hurghada,27.2574,33.8129,75.24,41.0,0.0,8.05,EG,2022-04-23

In [54]:
# Add a blank 'Hotel Name' column to the DataFrame
hotel_df['Hotel Name'] = ''
hotel_df

/Users/graceolson/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
23,govindgarh,27.5000,76.9833,85.17,13.0,1.0,4.07,IN,2022-04-23,
41,san ramon,37.7799,-121.9780,75.92,47.0,0.0,6.91,US,2022-04-23,
53,jamestown,42.0970,-79.2353,77.52,35.0,0.0,6.91,US,2022-04-23,
59,sunam,30.1333,75.8000,80.35,20.0,0.0,6.87,IN,2022-04-23,
106,lahij,13.1667,44.5833,79.93,49.0,2.0,3.98,YE,2022-04-23,
146,cabo san lucas,22.8909,-109.9124,81.70,67.0,0.0,9.22,MX,2022-04-23,
170,rock falls,41.7798,-89.6890,82.40,51.0,0.0,8.05,US,2022-04-23,
186,hostotipaquillo,21.0667,-104.0667,88.05,6.0,0.0,7.65,MX,2022-04-23,
204,arraial do cabo,-22.9661,-42.0278,87.76,58.0,0.0,6.91,BR,2022-04-23,
439,eatonton,33.3268,-83.3885,82.24,56.0,3.0,9.24,US,2022-04-23,
443,asyut,27.1810,31.1837,75.38,15.0,9.0,6.53,EG,2022-04-23,
460,karratha,-20.7377,116.8463,78.33,56.0,5.0,6.22,AU,2022-04-23,
533,atar,20.5169,-13.0499,80.46,22.0,0.0,9.71,MR,2022-04-23,
549,russell,32.3502,-85.1999,82.00,39.0,0.0,8.05,US,2022-04-23,
587,hurghada,27.2574,33.8129,75.24,41.0,0.0,8.05,EG,2022-04-23,

In [55]:
# Set parameters to search for hotels within 5,0000 meters

In [56]:
# Using the Google Places API, find each city's coordinates

In [57]:
# Store the first hotel result in the 'Hotel Name' column in the DataFrame

In [ ]:
# Plot markers on top of the heatmap